@import "../../styles/variables";


.app-header {
  .nav-icon {
    color: #fff;
    font-size: 30px;
    float: right;
    margin-top: 18px;
    cursor: pointer;
  }
  .ant-menu-horizontal {
    float: right;
  }
}

.nav-drawer {
  .ant-drawer-content {
    background-color: @menu-dark-bg;
    .ant-drawer-close {
      display: none;
    }
    .ant-drawer-body {
      padding: 0;
      .logo {
        width: 160px;
        height: 31px;
        float: left;
        color: #ffffff;
        font-size: 18px;
        width: 100%;
        height: 63px;
        padding: 16px;
        text-align: center;
      }
    }
  }
 
}